@import './styles/colors';
@import './styles/page-layout';

.app-container {
  height: 100%;
  background-color: $gray-background;

  .page-content {
    height: 100%;
    padding-top: $padding-from-searchbar;
    padding-bottom: $padding-bottom;
    padding-left: $padding-horizontal-desktop;
    padding-right: $padding-horizontal-desktop;
  }
}

@media screen and (max-width: 800px) {
  .app-container {
    
    .page-content {
      padding-left: $padding-horizontal-mobile;
      padding-right: $padding-horizontal-mobile;
    }
  }
}